<% content_for(:title) { "Dashing w/ Highcharts!" } %>

<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [310, 320]
    Dashing.numColumns = 4
  });
</script>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div data-id="indicators_list" data-view="List" data-unordered="true" data-title="Indicators" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="total_transactions" data-view="Number" data-title="Transactions Executed" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Clock"></div>
        <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Countdown" data-title="Closing In:" data-end='<%= Time.now.strftime("%B %d, %Y 15:00:00") %>'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="stacker_symbols" data-view="Stacker" data-title="Top 5 Underlying" style="background-color:#d35400;"></div>
    </li>

</div>